<div class="page-title l-box">
  <div class="width-wrapper">
    <h1>Blog</h1>
    <h2>Posts tagged '<%= tagname %>'</h2>
  </div>
</div>

<section class="content content-no-border l-box">
  <div class="width-wrapper">

    <ul class="article-listing">
    <% page_articles.each_with_index do |article, i| %>
      <li>
        <span><%= format_date(article.date) %></span>
        <%= link_to article.title, article %>
      </li>
    <% end %>
    </ul>

  </div>
</section>

<%= partial 'author_bio' %>

