<section class="content article-author-bio l-box">
  <div class="width-wrapper">
    <a class="author-photo" href="http://twitter.com/lantins">
      <img class="photo" src="/img/me-130.jpg" alt="Luke Antins" title="Luke Antins">
    </a>
    <h2>About Luke Antins</h2>
    <p>
      Hello, I'm Luke Antins, a freelance software engineer &amp; consultant based in the North West of England.
      For over 15 years I have been crafting software and using technology to solve problems for business.
    </p>
    <p>
      I thrive on solving difficult problems, especially the ones no one else dares to touch!
      I have a passion to deliver both quality and valuable solutions to <a href="/services">help your business</a> keep up with a world thats ever-changing.
    </p>
  </div>
</section>