<section class="content article-author-bio l-box">
  <div class="width-wrapper">
    <a class="author-photo" href="http://twitter.com/mbleigh">
      <img class="photo" src="/img/me-130.jpg" alt="Luke Antins" title="Luke Antins">
    </a>
    <h2>Luke Antins</h2>
    <p>
      I love crafting software, solving problems and climbing mountains.
      I have a particular interest in vehicle telematics, web services
      and distributed systems. I enjoy using a wide range of tools including
      Linux, PostgreSQL, Postfix, Nginx, Ruby, Sinatra, Golang and PHP.
    </p>
    <%= mail_to 'luke@float64.uk', 'luke@float64.uk' %>
  </div>
</section>