<div class="content content-callout content-callout-contact">
  <div class="width-wrapper l-box">
    <h3>Get in touch with Luke</h3>
    by email <strong><%= mail_to 'luke@float64.uk', 'luke@float64.uk' %></strong>
    or by phone <strong><%= link_to '+44 (0) 7595 324545', 'tel:+447595324545' %></strong>
  </div>
</div>
