<div class="navigation">
  <div class="width-wrapper">
    <div class="social-nav">
      <a href="https://github.com/lantins" title="View my open source projects on GitHub"><i class="sicon-github-circled"></i></a>
      <a href="https://www.linkedin.com/in/lantins" title="Check out my profile on LinkedIn"><i class="sicon-linkedin-squared"></i></a>
      <a href="https://twitter.com/lantins" title="Follow me on Twitter, bring your #hashtags"><i class="sicon-twitter-squared"></i></a>
    </div>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="/" class="pure-menu-heading float64">float<span class="sixfour">64</span></a>
      <ul>
        <li class="<%= if_path %r{^/services}, 'pure-menu-selected' %>"><a href="/services">Services</a></li>
        <li class="<%= if_path %r{^/contact}, 'pure-menu-selected' %>"><a href="/contact">Contact</a></li>
        <li class="<%= if_path %r{^/blog}, 'pure-menu-selected' %>"><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hline-64"></div>
