---
title: Contact
description: Contact Luke to discuss your project
priority: 1.0
change_frequency: monthly
---
<div class="page-title l-box">
  <div class="width-wrapper">
    <h1>Getting in touch</h1>
  </div>
</div>

<div class="content">
  <div class="width-wrapper l-box">
    <h2>Any questions?</h2>
    <p>
      If you have any general questions about the services can offer, please ping me an email and I'll get back to you in a few days.
    </p>

    <h2>Lets get the ball rolling...</h2>

    <ol>
      <li>
        <strong>You</strong> will provide a <strong>basic outline of your project/problem</strong> and let me know if any fixed timeframes are involved.
      </li>
      <li>
        <strong>Luke</strong> will establish if he's <strong>able to help you</strong> or if he knows somebody who can.
      </li>
      <li>
        <strong>Together we</strong> will arrange the first call to discuss your unique <strong>needs, goals and values</strong> in more detail.
      </li>
    </ol>

  </div>
</div>

<%= partial 'callout_contact' %>

<!--
<div class="content">
  <div class="width-wrapper l-box">
    <h2>Handy contact form</h2>

  </div>
</div>
-->
