<div class="page-title l-box">
  <div class="width-wrapper">
    <h1>Hire me</h1>
  </div>
</div>

<div class="content content-no-border l-box">
  <div class="pure-g width-wrapper">
    <div class="pure-u-1-2">
      <h2>1. Decide you want to hire me</h2>
      <ul>
        <li>Review the information on this website</li>
        <li>Read about my experiences in <a href="">my resume</a></li>
        <li>See my open source projects on GitHub</li>
      </ul>
      <h2>2. Start discussing your project</h2>
      <p>
        Lets start with the basics, please send me an email with:
      </p>
      <ul>
        <li>A basic outline of your project</li>
        <li>Timescales (if any)</li>
        <li>A rough guide of your budget</li>
      </ul>
    </div>
    <div class="pure-u-1-2">
      <h2>Skills</h2>

      <h3>Programming Languages</h3>
      <p>
        Ruby,
        PHP,
        Objectie-C,
        C89,
        C++,
        GoLang,
        Bash
      </p>
      <h3>Web</h3>
      <p>
        HTML5,
        CSS3,
        Javascript,
        jQuery,
        CanJS,
        Bootstrap,
        PureCSS,
        SASS/SCSS
      </p>
      <h3>Ruby Frameworks &amp; RubyGems</h3>
      <p>
        Ruby on Rails,
        Sinatra,
        Padrino,
        Rack,
        Grape,
        Sequel,
        EventMachine
      </p>
      <h3>SQL Databases</h3>
      <p>
        PostgreSQL,
        MySQL,
        SQLite
      </p>
      <h3>NoSQL Databases</h3>
      <p>
        LevelDB,
        Redis,
        Memcached,
        InfluxDB
      </p>
      <h3>Operating Systems</h3>
      <p>
        OS X,
        Ubuntu Linux,
        CoreOS,
        Slackware Linux,
        OpenBSD,
        Microsoft Windows (desktop and server)
      </p>
      <h3>Linux Server Software</h3>
      <p>
        Postfix,
        Apache,
        Nginx,
        PHP-FPM,
        Keepalived,
        HAProxy,
        Squid,
        Bind,
        NIS,
        NFS,
        DRDB
      </p>

      <h3>Scripting</h3>
      <p>
        Ansible,
        NSIS (Nullsoft Scriptable Install System),
        Bash,
        GNU Make,
        CMake
      </p>

      <h3>Notable Additions</h3>
      Git
      Creating RubyGems (including with native C or C++ extensions)
      TDD (Test Driven Development)
      Cross compiling C and C++ using CMake
      Published iPhone game to Apple App Store (Objective-C and OpenGL)
      Familiar with Apple MFi licensing program
      Used Linux from age of 11 (when RHL 4.0 was released), quickly moved onto using NetBSD and OpenBSD
      Physical servers (commissioning and maintanance)
      ASCII and binary protocol design and implementation
      Working with teams developing bespoke hardware solutions
      Building multi-transport (TCP/IP, UDP and SMS) server software


    </div>
  </div>
</div>


PXE network booted 50 servers running custom Linux distro, persistent storage provided by NFS running on top of a DRDB pair, system accounts managed using NIS, SNMP access to upstream providers routers to remove entries from ARP tables, allowing servies and IP addresses to be shifted between machines very quickly
