---
title: Services &middot; Luke Antins &middot; Software Engineer &amp; Consultant
description: Software development and consultancy services available to help your business turn ideas into reality
priority: 1.0
change_frequency: monthly
canonical: http://float64.uk/services/
---
<div class="page-title l-box">
  <div class="width-wrapper">
    <h1>Services</h1>
  </div>
</div>

<div class="content">
  <div class="width-wrapper l-box">
    <h2>Turning your ideas into reality, with working software</h2>
    <p>
      Do you have a brilliant idea but are struggling to make it happen?
      <a href="/contact" title="">I can help</a> guide you from <strong>idea to end product</strong>. 
      Lets work within your budget, split the idea into smaller tasks, ordered by priority and focus on completing the <strong>most valuable features first</strong>.
    </p>

  </div>
</div>

<div class="content content-grey">
  <div class="width-wrapper l-box">
    <h2>Existing projects</h2>
    <p>
      Do you have an existing project which was never finished and needs completing? <a href="/contact">Lets take your</a> <strong>incomplete project</strong>, review the original outline and create a <strong>finished product which meets your business needs</strong>.
    </p>

  </div>
</div>

<div class="content">
  <div class="width-wrapper l-box">
    <h2>Software maintenance</h2>
    <p>
      Does your business rely upon software which is <strong>no longer maintained</strong> by its original authors? But needs <strong>bug fixes</strong> or <strong>new features</strong> added? <a href="/contact">Lets discuss</a> how we can address these problems before it's too late and the software no longer provides value.
    </p>

  </div>
</div>

<div class="content content-grey">
  <div class="width-wrapper l-box">
    <h2>Simplify and automate your business processes</h2>
    <p>
      Are you tired of switching between different systems or of updating information in several different places? <a href="/contact">I can help you</a> <strong>simplify and automate</strong> these processes and help your business run more smoothly, and efficiently.
    </p>

  </div>
</div>

<div class="content">

  <div class="width-wrapper l-box">
    <h2>Linux consultancy</h2>
    <p>
      Linux is everywhere these days; on your phone, inside your TV and lets not forgot how Linux is also powering the bulk of the internet behind the scenes.
    </p>

    <p>
      The reliability of Linux means servers can run for years and years without even a blip, however they still need to be <strong>maintained</strong>, <strong>updated</strong> and eventually <strong>decommissioned</strong> and <strong>replaced</strong>.
    </p>

    <p>
      <a href="/contact">I can help you</a>:
    </p>

    <ul>
      <li>Audit your existing infrastructure and <strong>identify risk</strong>.</li>
      <li>Migrate complex services to new servers <strong>without downtime</strong>.</li>
      <li>Make your server configurations <strong>reproducible</strong> on new virtual or physical machines.</li>
    </ul>

  </div>
</div>

<div class="content content-grey">
  <div class="width-wrapper l-box">
    <h2>Website development</h2>
    <p>
      Your website is the first place your potential customers will look for information, it's important they can find what they need <strong>quickly</strong> and <strong>easily</strong> whether from a computer or <strong>mobile device</strong>.
    </p>

    <p>
      If your current website isn't doing your business justice <a href="/contact">lets talk</a> and figure out how to get your website working harder for your business.      
    </p>

    <p>
      Your website should be an <strong>asset of your business</strong>.
    </p>

  </div>
</div>

<%= partial 'callout_contact' %>
